doctype
html(lang="en")
  head
    style.
      body {
        font-size: 14px;
      }
  body
    div(style="background:#f9f9f9;color:#373737; line-height:24px; padding:0; margin: 0 auto; text-align:left")
      div(style="background:#1f9bed; height: 50px; width: 100%; margin-bottom: 20px;")
      
      div(style="text-align:center; float: left; width: 48%;")
        img(src="https://s3-ap-southeast-1.amazonaws.com/sinotechmarineassets/public/sinotech-logo.png" height="60")

      div(style="text-align:center; float: left; width: 48%;")
        img(src="https://s3-ap-southeast-1.amazonaws.com/sinotechmarineassets/public/shipinspectors-logo.png" height="60" width="120")

      div(style="clear:both;")

      div(style="padding: 0 10px; margin-top: 20px;")
        div(style="text-align:left; margin-bottom: 50px;")
          div(style="line-height:24px;margin:0 0 16px;").
            Hi #{user.name},
          div(style="line-height:24px;margin:0 0 16px")
            | Your enquiry has been received successfully!! 

          div(style="line-height:24px;margin:0 0 16px")
            div.
              Enquiry Number : <b>#{enquiry.id}</b>
            div.
              Enquiry Date : <b>#{enquiry.createdOn}</b>

          div(style="line-height:24px;margin:0 0 16px")
            div.
              Inspection Type: #{enquiry.inspectionTypeDisplayName}
            div.
              Vessel Type: #{enquiry.vesselTypeDisplayName}
            div.
              Vessel Name: #{enquiry.vesselName}
            div.
              Vessel IMO Number: #{enquiry.imo}
            div.
              Port Name: #{enquiry.portData.name}
            div.
              Start Date: #{enquiry.startTimeFmt}
            div.
              End Date: #{enquiry.endTimeFmt}

          div(style="line-height:24px;margin:0 0 16px").
            Please go to <a href="#{server}/my/enquiries/" target="_blank">My Enquiries</a> section to manage your enquiry. 
        div
          | Cheers,
        div(style="margin-bottom: 20px;") 
          | Team ShipInspector 

      div(style="background:#1f9bed; height: 50px; width: 100%;")                                               
 